* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: no-repeat;
}

BODY {
  scrollbar-face-color:#8080FF;
  scrollbar-arrow-color:#FFFFFF;
  scrollbar-track-color:#DDDDFF;
  scrollbar-shadow-color:'';
  scrollbar-highlight-color:'';
  scrollbar-3dlight-color:'';
  scrollbar-darkshadow-Color:'';
  background: #999;
}
DIV {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
}
input {
  border: 1px solid #CCC;
  float: left;
}
#pageBar {
  background: url(images/pageBar.jpg) repeat-x left top;
  height: 26px;
  width: 100%;
  position: fixed;
  top: 0px;
}

#logo {
  background-image: url(images/logo.png);
  width: 170px;
  height: 33px;
  position: fixed;
  left: 10px;
  top: 0px;
}

#tabletop {
  position: relative;
  margin: 200px 200px 200px 200px;
}

/* SHOW/HIDE PANEL BUTTONS AT THE TOP OF THE PAGE */

#buttons {
  margin-left: 155px;
  position: relative;
  
}

.buttonUnchecked, .buttonChecked {
  height: 22px;
  float: left;
  margin: 0px 0px 0px 12px;
  color: #CCC;
}

.buttonUnchecked:hover, .buttonChecked:hover {
  cursor: pointer;
}

.buttonStart {
  background-image: url(images/buttonUncheck.png);
  width: 19px;
  height: 19px;
  float: left;
  margin-top: 4px;
}

.buttonCaption {
  background: url(images/pageBar.jpg) repeat-x left top;
  height: 22px;
  float: left;
  font-size: 16px;
  text-decoration: none;
  padding: 2px 1px 0px 2px;
}

.buttonChecked:hover , .buttonUnchecked:hover {
  color: #EEE;
}

.buttonEnd {
  width: 5px;
  height: 22px;
  float: left;
}

.buttonChecked .buttonStart {
  background-image: url(images/buttonCheck.png);
}

.buttonChecked .buttonEnd {
  background-image: url();
}

/* MOVEABLE, RESIZEABLE PANELS */


.panelHeader, .panelFooter {
  background: #FFF;
  clear: both;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  margin: 0px -5px 0px -5px;
  padding: 0px 5px 0px 5px;
}
.resizeTL {
  background: url(images/resizeTL.png);
  width: 15px;
  height: 23px;
  float: left;
  cursor: nw-resize;
  margin-left: -5px;
}
.resizeTR {
  background: url(images/resizeTR.png);
  width: 10px;
  height: 23px;
  float: right;
  cursor: ne-resize;
  margin-right: -5px;
}
.panelContent {
  clear: both;
  background: #FFF;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  color: #333;
  overflow: auto;
  margin: 0px -5px 0px -5px;
  padding: 0px 5px 0px 5px;
}

.panelContent  a {
  cursor: pointer;
  text-decoration: none;
}

.panelContent a:hover {
  text-decoration: underline;
}

.panelContent input, .panelFooter input {
  background: #FFF;
  color: #333;
  margin-right: 4px;
}

.panelBar {
  position: absolute;
  height: 23px;
  margin-left: 17px;
  cursor: pointer;
  left: 0px;
  top: 0px;
}
.tabBar {
  background: url(images/tabBar.jpg) repeat top left;
  min-height: 1px;
  max-height: 42px;
  clear: both;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  margin: 0px -5px 0px -5px;
  padding: 0px 5px 0px 5px;
}

.panelBottom {
  background: #FFF;
  width: auto;
  height:12px;
  border-bottom: 1px solid #333;
}

.resizeBL {
  background: url(images/resizeBL.png);
  height: 13px;
  width: 13px;
  float: left;
  cursor: sw-resize;
  margin-left: -5px;
}

.resizeBR {
  background: url(images/resizeBR.png);
  height: 13px;
  width: 13px;
  float: right;
  cursor: se-resize;
  margin-right: -5px;
}

.outerPanel {
  position: fixed;
  visibility: hidden;
  z-index: 0;
  margin: 0px -5px 0px -5px;
  padding: 0px 5px 0px 5px;
}

/* PANEL TITLES */

.title {
  position: relative;
  background: url(images/panelBar.jpg) repeat-x top left;
  height: 23px;
}

.titleCaption {
  background: url(images/titleBG.jpg) repeat-x top left;
  height: 21px;
  float: left;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  padding: 2px 2px 0px 0px;
}

.titleEnd {
  background-image: url(images/titleEnd.jpg);
  width: 5px;
  height: 23px;
  float: left;
  margin-right: 1px;
}

.close {
  background-image: url(images/close.png);
  width: 22px;
  height: 23px;
  float: right;
  cursor: pointer;
}

.close:hover {
  background-image: url(images/closeHover.png);
}

/* PANEL TABS */

.activeTab, .inactiveTab, .tabStart, .tabEnd {
  height: 21px;
  float: left;
}

.activeTab:hover, .inactiveTab:hover {
  text-decoration: underline;
  cursor: pointer;
}

.activeTab, .inactiveTab {
  margin: 0px 0px 0px 1px;
}

.activeTab {
  background:  url(images/activeTabBG.jpg) repeat-x top left;
}

.inactiveTab {
  background:  url(images/inactiveTabBG.jpg) repeat-x top left;
}

.tabStart, .tabEnd {
  width: 2px;
}

.activeTab .tabStart {
  background:  url(images/activeTabStart.jpg) repeat-x top left;
}

.activeTab .tabEnd {
  background:  url(images/activeTabEnd.jpg) repeat-x top left;
}

.inactiveTab .tabStart {
  background:  url(images/inactiveTabStart.jpg) repeat-x top left;
}

.inactiveTab .tabEnd {
  background:  url(images/inactiveTabEnd.jpg) repeat-x top left;
}

.tabContent:hover {
  text-decoration: underline;
}

.tabContent {
  float: left;
  padding: 2px 3px 0px 3px;
  color: #333;
  font-size: 13px;
}

/* LOGIN FORM */

.login {
  color: #CCC;
  float: right;
  text-decoration: none;
  margin-right: 8px;
  cursor: pointer;
  position: relative
}

.login:hover {
  text-decoration: underline;
}

#loginDiv {
  float: right;
}

#loginForm {
  background: #000;
  margin-top: 3px;
  color: #999;
  padding: 1px 1px 1px 1px;;
}

#loginForm input {
  background: #CCC;
  color: #333;
  margin-right: 4px;
}

/* ??? */

.deleteButton {
  float: right;
}

.altList {
}

.separator {
height: 1px; background: #999; width: auto; clear: both; margin: 1px 0px 4px 0px;
}

.chat_alert {
  color: #039;
}

.fInput {
  border: 1px solid #CCC;
}

.fLabel {
  color: #000; width: 200px;
  float: left;
}

.swatch {
  border: 1px solid black;
  margin: 1px 1px 1px 1px;
  max-width: 50px;
}

.selected_swatch {
  border: 1px solid #F00;
  margin: 1px 1px 1px 1px
}


.roll {
  font-style: italic;
  color: #900;
}

.clearBoth {
  height: 0px;
  width: 1px;
  margin-top: -1px;
  clear: both;
}

/* LAYERS */

.clickLayer {
  position: absolute;
  top: 0px;
  left: 0px;
}

.grid {
  position: absolute;
  left: 0;
  top: 0;
}

.fog {
  position: absolute;
  background: black;
}

.inputDiv {
  color: #000;
  width: 140px;
  float: left;
}
.inputDiv input {
  float: right
}
.buttonDiv {
  float: left;
  background: #333;
  border: 1px solid #000;
  color: #CCC;
  min-width: 10px;
  text-align: center;
}
.buttonDiv:hover {
  cursor: pointer;
}
/* Install Box */
#installBox {
  margin: 20px auto;
  width: 180px;
}
#installBox input {
  border: 1px solid #CCC;
}

