/*
Table of Contents:

	ELEMENTS
	PAGE BAR
		Panel Buttons
		Login Form
	PANELS
		Default Panel Sizes
		Panel Sections
		Panel Resize Handles
		Panel Titles
		Panel Tabs
		Panel Contents
		Links on Panels
		Forms on Panels
		Brushes
		Chat
		Piece and Tile Images
		Stats
	MAP
		Layers
		Pieces
	INSTALL BOX
	MISCELLANEOUS

*/

/* ELEMENTS */

/* applying style to all elements looks inefficient and dangerous */
* {
	margin: 0;
	padding: 0;
	border: 0;
	background: no-repeat;
}

body {
	scrollbar-face-color:#8080FF;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#DDDDFF;
	scrollbar-shadow-color:'';
	scrollbar-highlight-color:'';
	scrollbar-3dlight-color:'';
	scrollbar-darkshadow-Color:'';
	background: #999;
}
div {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
}
input {
	border: 1px solid #CCC;
/*	float: left; */
}

/* PAGE BAR */

#pageBar {
	background: url(images/pageBar.jpg) repeat-x left top;
	height: 26px;
	width: 100%;
	position: fixed;
	top: 0px;
}

#logo {
	background-image: url(images/logo.png);
	width: 170px;
	height: 33px;
	position: fixed;
	left: 10px;
	top: 0px;
}

/* Panel Buttons: these buttons show and hide panels */

#panelButtons {
	margin-left: 155px;
	position: relative;
}

.panelButton {
	height: 22px;
	float: left;
	margin: 0px 0px 0px 12px;
	color: #CCC;
}

.panelButton:hover {
	cursor: pointer;
	color: #EEE;
}

.panelButtonStart {
	background-image: url(images/buttonUncheck.png);
	width: 19px;
	height: 19px;
	float: left;
	margin-top: 4px;
}

.panelButtonCaption {
	background: url(images/pageBar.jpg) repeat-x left top;
	height: 22px;
	float: left;
	font-size: 16px;
	text-decoration: none;
	padding: 2px 1px 0px 2px;
}

.panelButtonEnd {
	width: 5px;
	height: 22px;
	float: left;
}

.panelButton.checked .panelButtonStart {background-image: url(images/buttonCheck.png);}

.panelButton.checked .panelButtonEnd {background-image: url();} /* FIXME: what? */

/* Login Form */

#loginForm {
	float: right;
	background: #000;
	margin-top: 3px;
	color: #999;
	padding: 1px 1px 1px 1px;;
}

#LoginForm input[type=text] {
	border: 1px solid #CCC;
}

.login {
	color: #CCC;
	float: right;
	text-decoration: none;
	margin-right: 8px;
	cursor: pointer;
	position: relative
}

.login:hover {
	text-decoration: underline;
}

#userButton {
	display: none;
	float: right;
}

#loginForm input {
	background: #CCC;
	color: #333;
	margin-right: 4px;
}

/* PANELS: moveable, resizeable windows overlaying the map */

/* main panel container */
.panel {
	position: fixed;
	display: none;
	z-index: 0;
	margin: 0px -5px 0px -5px;
	padding: 0px 5px 0px 5px;
}

/* Default Panel Sizes */

.panel.chatPanel {
	left: 6px;
	top: 95px;
	width: 355px;
}
.panel.chatPanel .panelContent {height: 130px;}

.panel.filesPanel {
	left: 6px;
	top: 118px;
	width: 250px;
}
.panel.filesPanel .panelContent {height: 150px;}

.panel.piecesPanel {
	left: 6px;
	top: 49px;
	width: 140px;
}
.panel.piecesPanel .panelContent {height: 180px;}

.panel.tablesPanel {
	left: 6px;
	top: 26px;
	width: 140px;
}
.panel.tablesPanel .panelContent {height: 180px;}

.panel.turnsPanel {
	left: 6px;
	top: 72px;
	width: 175px;
}
.panel.turnsPanel .panelContent {height: 300px;}


.panel.userPanel {
	left: 185px;
	top: 26px;
	width: 210px;
}
.panel.userPanel .panelContent {height: 100px;}


/* Panel Sections */

.panelBar {
	position: absolute;
	height: 23px;
	margin-left: 17px;
	cursor: pointer;
	left: 0px;
	top: 0px;
}
.tabBar {
	background: url(images/tabBar.jpg) repeat top left;
	min-height: 1px;
	max-height: 42px;
	clear: both;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	margin: 0px -5px 0px -5px;
	padding: 0px 5px 0px 5px;
	overflow: auto;
}
.panelHeader, .panelFooter {
	background: #FFF;
	clear: both;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	margin: 0px -5px 0px -5px;
	padding: 0px 5px 0px 5px;
}
.panelContent {
	clear: both;
	background: #FFF;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	color: #333;
	overflow: auto;
	margin: 0px -5px 0px -5px;
	padding: 0px 5px 0px 5px;
}

.panelBottom {
	background: #FFF;
	width: auto;
	height:12px;
	border-bottom: 1px solid #333;
}

/* Panel Resize Handles */

.resizeTL {
	background: url(images/resizeTL.png);
	width: 15px;
	height: 23px;
	float: left;
	cursor: nw-resize;
	margin-left: -5px;
}
.resizeTR {
	background: url(images/resizeTR.png);
	width: 10px;
	height: 23px;
	float: right;
	cursor: ne-resize;
	margin-right: -5px;
}
.resizeBL {
	background: url(images/resizeBL.png);
	height: 13px;
	width: 13px;
	float: left;
	cursor: sw-resize;
	margin-left: -5px;
}
.resizeBR {
	background: url(images/resizeBR.png);
	height: 13px;
	width: 13px;
	float: right;
	cursor: se-resize;
	margin-right: -5px;
}

/* Panel Titles */

.title {
	position: relative;
	background: url(images/panelBar.jpg) repeat-x top left;
	height: 23px;
}

.titleCaption {
	background: url(images/titleBG.jpg) repeat-x top left;
	height: 21px;
	float: left;
	color: #333;
	font-size: 16px;
	text-decoration: none;
	padding: 2px 2px 0px 0px;
}

.titleEnd {
	background-image: url(images/titleEnd.jpg);
	width: 5px;
	height: 23px;
	float: left;
	margin-right: 1px;
}

.close {
	background-image: url(images/close.png);
	width: 22px;
	height: 23px;
	float: right;
	cursor: pointer;
}
.close:hover {background-image: url(images/closeHover.png);}

/* Panel Tabs */

.tab, .tabStart, .tabEnd {
	height: 21px;
	float: left;
}
.tab {
	margin: 0px 0px 0px 1px;
	background: url(images/inactiveTabBG.jpg) repeat-x top left;
}
.tab:hover {
	text-decoration: underline;
	cursor: pointer;
}
.tab.active {background-image: url(images/activeTabBG.jpg);}
.tabStart, .tabEnd {width: 2px;}
.tabStart {background: url(images/inactiveTabStart.jpg) repeat-x top left;}
.tabEnd {background: url(images/inactiveTabEnd.jpg) repeat-x top left;}
.tab.active .tabStart {background-image: url(images/activeTabStart.jpg);}
.tab.active .tabEnd {background-image: url(images/activeTabEnd.jpg);}
.tabContent {
	float: left;
	padding: 2px 3px 0px 3px;
	color: #333;
	font-size: 13px;
}
.tabContent:hover {text-decoration: underline;} /* FIXME: redundant with .tab:hover rule? */

/* Links on Panels */

.panelContent a {
	cursor: pointer;
	text-decoration: none;
}
.panelContent a:hover {text-decoration: underline;}

/* Forms on Panels */

.panelContent input, .panelFooter input {
	background: #FFF;
	color: #333;
	margin-right: 4px;
}

.inputDiv {
	color: #000;
	width: 140px;
	float: left;
}
.inputDiv input {
	float: right
}
.buttonDiv {
	float: left;
	background: #333;
	border: 1px solid #000;
	color: #CCC;
	min-width: 10px;
	text-align: center;
}
.buttonDiv:hover {
	cursor: pointer;
}

/* Brushes: map painting tools (tables panel?) */
#eraser, #fogTool, #wallTool, #pieceTool {
	float: left;
/* handled by swatch class now
	border: 1px solid black;
	margin: 1px 1px 1px 1px;
*/
	height: 30px;
	width: 40px;
	text-align: center;
}

/* Chat */

#chatInput {border: 1px solid #CCC;}
.alert {color: #039;}
.roll {
	font-style: italic;
	color: #900;
}

/* Color Palette */
.colorPalette {
	clear: left,
	position: relative,
	border: 2px solid transparent,
}
.colorSwatch {position: absolute;}
.colorSwatch.selected {
	border: 1px solid black;
	margin: -1px;
	z-index: 1;
}

/* Piece and Tile Images */
.swatch {
	border: 1px solid black;
	margin: 1px 1px 1px 1px;
	max-width: 50px;
}
.swatch.selected {border: 1px solid #F00;}
#pieceCreatorImages img, #pieceEditorImages img {max-width: 200px;}
#pieceCreatorImages, #pieceEditorImages {
	clear: both;
	overflow: none;
}

/* Stats */
.statRow {clear: both;}
.statName {float: left;}

/* MAP */

#map {
	position: relative;
	margin: 200px 200px 200px 200px;
}

/* Layers */

.clickLayer {
	position: absolute;
	top: 0;
	left: 0;
}
.clickLayer > div {position: absolute;}

#fogLayer > img {position: absolute;}

.grid {
	position: absolute;
	left: 0;
	top: 0;
}

/* Pieces */

.piece {position: absolute;}
.piece.selected {background: #FFF}
.pieceMover {
	position: absolute;
	border: 1px dashed transparent;
	opacity: 0.8;
}
.pieceMover.selected {border: black;}

/* INSTALL BOX */

#installBox {
	margin: 0 auto;
	width: 300px;
	display: none;
	text-align: center;
}
#installBox p {
	margin: 10px 0;
	text-align: justify;
}
#installBox table {
	border-collapse: collapse;
	margin: 10px auto;
	text-align: left;
}
#installBox td:first {padding-right: 0.5em;}
#installBox td:last-child {text-align: right;}
#installBox input {border: 1px solid #CCC;}

/* MISCELLANEOUS */

.deleteButton {float: right;}
.clearBoth {
	height: 0px;
	width: 1px;
	margin-top: -1px;
	clear: both;
}
.separator {
	height: 1px;
	width: auto;
	margin: 1px 0px 4px 0px;
	clear: both;
	background: #999;
}

